<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <table border="1">
                <tr>
                    <th>序号</th>
                    <th>名字</th>
                    <th>生日</th>
                    <th>性别</th>
                </tr>
                {% for s in stu %}
                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.birth }}</td>
                        {% if s.gender == 1 %}
                            <td>男</td>
                        {% else %}
                            <td>女</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <form action="{% url 'reg_land:student_show' %}" method="get">
                <input type="text" name="students" placeholder="请输入学生的序号">
                <button type="submit">查询学生的老师</button>
            </form>
            <div>
                {% for foo in t %}
                    {{ foo }},
                {% endfor %}
            </div>
            <div>{{ tt }}</div>
        </div>
        <div>
            <form action="{% url 'reg_land:delete_student' %}" method="get">
                <input type="text" name="del_stu" placeholder="请输入学生的序号"/>
                <button type="submit">删除学生</button>
                <div>{{ del_stu }}</div>
            </form>
        </div>
        <div>
            <a href="{% url 'reg_land:add_student_page' %}">添加学生</a>
        </div>
        <div>
            <a href="{% url 'reg_land:revise_student_page' %}">修改学生</a>
        </div>
    </body>
</html>